.footer {
    padding-top: 103px;
    padding-bottom: 50px;
}

.footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 204px;
}

.footer__left-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 86px;
}

.footer__left-nav-header {
    margin-bottom: 40px;
    color: var(--white);
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: 0.1px;
}

.footer__left-nav-item:not(:last-child) {
    margin-bottom: 19px;
}

.footer__left-nav-link {
    color: var(--white);
    font-size: 16px;
    font-weight: 100;
    line-height: 24px;
    letter-spacing: 0.2px;
    position: relative;
    cursor: pointer;

}

.footer__left-nav-link:focus-visible {
    outline: none;
}

.footer__left-nav-link:after {
    display: block;
    position: absolute;
    content: '';
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--pink);
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.footer__left-nav-link:hover:after,
.footer__left-nav-link:focus-visible:after {
    width: 100%;
}

.footer__left-nav-link:active {
    color: var(--pink);
}

.footer__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer__right-group-address {
    margin-bottom: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.footer__right-group-address svg {
    fill: var(--white);
    margin-right: 5px;
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
}

.footer__right-group-tel {
    margin-bottom: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    cursor: pointer;
}

.footer__right-group-tel svg {
    fill: var(--white);
    margin-right: 5px;
    -webkit-transition: fill .3s ease-in-out;
    -o-transition: fill .3s ease-in-out;
    transition: fill .3s ease-in-out;
}

.footer__right-address {
    color: var(--white);
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.2px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.footer__right-tel {
    color: var(--white);
    font-size: 16px;
    font-weight: 200;
    line-height: 24px;
    letter-spacing: 0.2px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.footer__right-group-address:hover,
.footer__right-group-address:hover svg,
.footer__right-group-address:hover a {
    color: var(--secondary);
    fill: var(--secondary);
}

.footer__right-group-tel:hover,
.footer__right-group-tel:hover svg,
.footer__right-group-tel:hover a {
    color: var(--secondary);
    fill: var(--secondary);
}

.footer__right-address:focus-visible {
    outline: none;
    color: var(--pink);
}

.footer__right-tel:focus-visible {
    outline: none;
    color: var(--pink);
}

.footer__right-group-address:active,
.footer__right-group-address:active svg,
.footer__right-group-address:active a {
    color: var(--pink);
    fill: var(--pink);
}

.footer__right-group-tel:active,
.footer__right-group-tel:active svg,
.footer__right-group-tel:active a {
    color: var(--pink);
    fill: var(--pink);
}

.footer__right-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
}

.footer__right-social-link {
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.footer__right-social-link svg {
    fill: var(--white);
    transition: .3s ease-in-out;
}

.footer__right-social-link:focus-visible {
    outline: none;
}

.footer__right-social-link:hover svg {
    fill: var(--sky-blue);
    transition: .3s ease-in-out;
}

.footer__right-social-link:focus-visible svg {
    fill: var(--primary);
    transition: .3s ease-in-out;
}

.footer__right-social-link:active svg {
    fill: var(--secondary);
}

/* Adaptive */

@media (max-width: calc(1579px - 1px)) {
    .footer__content {
        gap: 80px;
    }

    .footer__content {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

@media (max-width: 549px) {
    .footer {
        padding-top: 180px;
        padding-bottom: 50px;
    }

    .footer__content {
        padding: 0 114px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .footer__left-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: start;
        align-content: flex-start;
        gap: 75px;
    }
}

@media (max-width: calc(549px - 1px)) {
    .footer {
        padding-top: 80px;
    }

    .footer__content {
        padding: 0 50px;
    }

    .footer__right-group-address {
        width: 100%;
    }

    .footer__right-group-tel {
        width: 100%;
    }
}