.gallery {
    padding-top: 110px;
    padding-bottom: 100px;
}

.gallery__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.gallery__title {
    margin-bottom: 20px;
    color: var(--white);
    font-size: 52px;
    text-align: center;
    font-weight: 200;
    line-height: 62px;
    letter-spacing: .3px;
}

.gallery__descr {
    max-width: 447px;
    margin-bottom: 54px;
    color: var(--white);
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    line-height: 30px;
    letter-spacing: .3px;
}

.gallery__img-wrapper {
    margin-bottom: 49px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 39px;
}

.gallery__img {
    border-radius: 15px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.gallery__img-549 {
    display: none;
}

.gallery__img:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.gallery__btn {
    display: flex;
    align-items: center;
    padding: 16px 37px;
    border: 1px solid var(--white);
    border-radius: 0;
    font-size: 17px;
    font-weight: 100;   
    line-height: 25px;
    letter-spacing: 0.5px;
    -webkit-transition: 0.3s ease-out;
    -o-transition: 0.3s ease-out;
    transition: 0.3s ease-out;
}

.gallery__btn:hover {
    color: var(--secondary);
    border: 1px solid var(--secondary);
}

.gallery__btn:focus-visible {
    outline: none;
    color: var(--pink);
    border: 1px solid var(--pink);
}

.gallery__btn:active {
    color: var(--white);
    border: 1px solid var(--secondary);
    background-color: var(--secondary);
}

/* Adaptive */

@media (max-width: calc(1579px - 1px)) {
    .gallery {
        padding-bottom: 50px;
    }
}

@media (max-width: 549px) {
    .gallery {
        padding-top: 78px;
        padding-bottom: 100px;
    }

    .gallery__img-wrapper {
        gap: 30px;
    }

    .gallery__img {
        display: none;
    }

    .gallery__img-549 {
        display: inline-block;
        border-radius: 15px;
    }
}

@media (max-width: calc(549px - 1px)) {
    .gallery {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .gallery__title {
        font-size: 45px;
        font-weight: 100;
    }

    .gallery__descr {
        font-size: 17px;
        font-weight: 100;
    }

    .gallery__img-549 {
        max-width: 85%;
    }
}